/* Write your code here. */

body {
  margin: 0px;
}

.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #0f172a;
  font-family: "Roboto";
}

.congrats-card {
  background-color: #cffafe;
  width: 40%;
  border: 0px solid;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.name {
  color: #1e293b;
  font-size: 28px;
  font-weight: 500;
  font-family: "Roboto";
}

.college {
  color: #1e293b;
  font-size: 20px;
  font-family: "Roboto";
  text-align: center;
}

.image {
  height: 150px;
  width: 150px;
}
